<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>User Signup</h1>
    <form method='post' action="/api/v1/signup" enctype="multipart/form-data">
        <label> Name: </label>
        <input type="string" name="name">
        <br>
        <label> Email: </label>
        <input type="email" name="email">
        <br>
        <label> Password: </label>
        <input type="password" name="password">
        <br>
        <label> Upload Image: </label>
        <input type="file" name="photo">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>